.slide1 {
	background-color: white;
	margin-left: 20px;
	margin-right: 50px
	padding-left: 10px;
}

.slide2 {
	background-color: white;
	margin-left: 20px;
	margin-right: 50px
	padding-left: 10px;
}

.slide3 {
	background-color: white;
	margin-left: 20px;
	margin-right: 50px
	padding-left: 10px;
}

a {
  color: black;
}

a: visited {
  color: white;
}

a: active {
  color: black;
}

#main-header{
  border-bottom: solid 2px #A9A9A9;
   background: url("../images/texturebackground.jpg") no-repeat center fixed;

}

#slide{
   background: url("../images/texturebackground.jpg") no-repeat center fixed;
}

#panelchange {
background: #68838B;
font-size: 30px;
font-style: bold;
color: black;
text-align: center;
}



#logo-image {
  align-items: center;
  text-align: center;
}

#sign-in-button
{
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  font-weight: 600;
  padding: 2rem 3rem;
  text-transform: uppercase;
  color: #303030;
  font-size: 24px;
  background-color: #68838B;
  cursor: auto;
  box-sizing: border-box;
  border-radius: 10px;
  width: 185px;
  height: 70px;
}

#clear-posts {
  color: #303030;
  background-color: #68838B;
   border-radius: 10px;
}


#post-div {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-size: 15px;
  color: #262626 ;
}

#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

.shadow, shadow:before, shadow:after {
  background: url("../images/newpaper.jpg") /*no-repeat center fixed*/;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
}

.shadow {
  display: inline-block;
  position: relative;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  border-radius: 2%;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.shadow:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
}
.shadow img {
  max-width: 100%;
  position: relative;
  z-index: -1;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  border-radius: 2%;
}

 
.box {
  text-align: center;
  position: relative;
  width: 100%;
  background: url("../images/newpaper.jpg");
  margin: 40px auto;
}


.effect {
  position: relative;
}

.effect:before, .effect:after
{
  z-index: -1;
  position: absolute;
  content: "",
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  background: #777;
  box-shadow: 0 35px 30px #777;
  transform: rotate(-8deg);
}

.effect:after
{
  transform: rotate(8deg);
  right:10px;
  left: auto;
}

#paperbackground {
  background: url("../images/newpaper.jpg");
  color: #444;
  font-size: 16px;
}

#border {
  border-left: ridge 2px #A9A9A9;
}

#select-posts {
  border-left: ridge 2px #A9A9A9;
}

#button-down{
  padding-top: 18px;
  padding-left: 10px;
}

.one {

     background: url("../images/winefields.jpg") no-repeat center fixed;
     -webkit-background-size: cover;
  	 -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     min-height: 100%;
  	 width: 100%;
  	 height: auto;  
  	top: 0;
  	left: 0;
    }


.two {
     background: url("../images/winesearchcellar.jpg") no-repeat center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     min-height: 100%;
     width: 100%;
     height: auto;  
    top: 0;
    left: 0;
    }

h2 {
	font-size: 16px;
	font-style: italic;
}

h3 {
	font-size: 20px;
	text-align: center;
}

h4 {
	font-size: 30px;
	font-style: italic;
}

.container-1 {
  width: 500px;
  height: 50px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.main-info-title {
	font-style: italic;
	font-size: 26px;
	text-align: center;
	letter-spacing: 1px;
	color: #444;
}

.main-info-info {
	font-size: 24px;
	font-style: bold;
	text-align: center;
	letter-spacing: 1px;
  color: #444;
}


.row-small {
	margin-right: 85px;
	margin-left: 85px;
}

.row-small-hide{
  margin-right: 85px;
  margin-left: 85px;
}

.space {
	padding-top: 35px;
	padding-bottom: 35px;
}

/*#line {
	border-bottom: ridge 2px #e4e4e4;
}*/

#lineone {
  border-bottom: ridge 3px #e4e4e4;
  border-top: ridge 3px #e4e4e4;
}

#linetwo {
  border-bottom: ridge 1px #e4e4e4;
  border-top: ridge 1px #e4e4e4;
  margin-bottom: 5px;
  margin-top: 5px;
}

#select-wine,
#clear-wine 
  {
  border: 1px solid black;
  color: #303030;
  font-size: 18px;
  background-color: #68838B;
  cursor: auto;
  border-radius: 10px;
  width: 120px;
  height: 40px;
}

.atitle {
  text-align: center;
  font-family: "Courier New";
  font-size: 48px;
  color: white;
 
}

.custom-button {
   text-align: center;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#368ec9), to(#65a9d7));
   background: -webkit-linear-gradient(top, #368ec9, #65a9d7);
   background: -moz-linear-gradient(top, #368ec9, #65a9d7);
   background: -ms-linear-gradient(top, #368ec9, #65a9d7);
   background: -o-linear-gradient(top, #368ec9, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 22px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.custom-button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.custom-button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.footer {
  background-color: #262626;
  border-top: solid 2px #A9A9A9;
  color: #fff;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: 100%;  
  top: 0;
  left: 0;
}

.tooManyMessage {
  background-color: #262626;
  border: 1px solid white;
  font-size: 24px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  margin-bottom: 10px;
  height: 80px;

}

.noResults {
  background-color: #262626;
  border: 1px solid white;
  font-size: 24px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  margin-bottom: 10px;
  height: 80px;

}

#wine-input {
  width:50%;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 20px;
  resize: none;
  float: left;
}

.fa-search{
  float: left;
  padding-right: 7px;
  padding-top: 7px;
}

#stylebox {
  background: #262626;
  border: black;
  height: 115px;
  padding-bottom: 10px;
  border-radius: 2%;
}

/*#stylebox:hover {
  opacity: 0.5;
  filter: alpha (opacity=50);
}*/
#signininspiration {
  font-size: 18px;
  color:white;
  letter-spacing: 2px;
  text-align: center;

}

#user-db 
   {
  border: 1px solid black;
  color: #303030;
  font-size: 18px;
  background-color: #68838B;
  cursor: auto;
  border-radius: 10px;
  width: 220px;
  height:50px;
  float: left;
}


/* .img-frontpage {
  height: 250px;
  width: 100%;
} */
.quickFixProjectDay {
  height: 160px;
}
#footerlogo {
  height: 100px;
  width: 85px;
  text-align: left;
  padding-left: 20px;
}

#ourapp {
  font-size: 24px;
  text-align: center;
  font-style: italic;
  letter-spacing: 3px;
  padding-top: 10px;
}

.panel-body{
   text-align: center;
   font-size: 18px;
   font-style: italic;
}

#copyright {
  border-right: ridge 3px #e4e4e4;
}
 #wineForm {
    background-color: #262626;
 }



